/*I can't locate the texture that is interfering with my bg image. Not sure why it's not showing.*/
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background-color: gray;
    height: 100%;
    margin: 0;
    padding:0px;
    background-image: url("images/cubes.png");
    background-size: 1440px 800px;
}

.center {
    width:100%;
    max-width: width 2000px;
    margin: auto;
}

.gap {
    margin-top:50px;
}


.customNav {
    padding:0px;
    background-color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    border-bottom: solid #ccc 2px;
    height: 105px;
}

.customBrand {
    float: left;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    padding-bottom: 100px;
    margin-bottom: 0px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}

.customPages {
    text-align: right;
    color: #777;
}

h2, h3 {
  font-size: 22px;
}

a {
    color: #777;
}

.rightMargin {
    margin-right: 25px;
}

.contentHeader{
    margin-bottom: 20px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
}

.customContainer {
    padding-top:50px;
    width:100%;
    max-width: 1000px;
    margin: auto;
}

/*It's been a long week*/
.realwomenhavecorners {
    border-radius: 0px;
}

#littletealbutton {
    background-color: #4aaaa5;
    border: none;
    width:100px;
}

/*I can't get this to be sticky*/
footer {
    position: absolute;
    bottom: 0;
    padding: 30px 0;
    margin-bottom: 0px;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    width: 100%;
}

.self-image {
    float: left;
    max-width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

.gallery img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
    padding-top: 20px;
}

#extraMargin {
    margin-top:40px;
}
  
.gallery h3 {
    position: absolute;
    width:90%;
    bottom: 20px;
    padding: 15px;
    margin-bottom: 0;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}

span {
    border-radius: 3px;
    width:auto;
    padding: 0px 40px 0px 0px;
    text-align: center;
    font:bold 11px/20px "Helvetica Neue", Helvetica, sans-serif;
    color:#fff;
    position:absolute;
    opacity: 1;
    z-index: 8675309;
    display:none;
    border: none;
    -webkit-font-smoothing: antialiased;
}

/*Responsive Formatting*/

/*First break - 980px*/
@media screen and (max-width:980px){
    .center {
        width:100%;
        max-width: 2000px;
        margin-left:0px;
    }

    .customPages {
        position: relative;
        margin-right: -100px;
    }

    /*I can't figure out how to widen this since I set the width with columns*/
    .customBrand {
        float: left;
        line-height: 90px;
        padding-left:40px;
        padding-bottom: 100px;
        margin-bottom: 0px;
    }

}

/*Second break - 768px*/
@media screen and (max-width:980px){

}

/*Final break - 640px*/